.news {
padding-top: 32px;
padding-bottom: 65px;
    &__container {
    }
    
    &__title {
        margin-bottom: 41px;
        @media screen and (max-width: 600px) {
            margin-bottom: 20px;
        }
    }
    
    &__row {
        margin: -20px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 19px;
        @media screen and (max-width: 600px) {
            margin: 0;
        }
    }
    
    &__card {
        padding: 20px;
        flex-basis: 33.333333%;
        @media screen and (max-width: 900px) {
            flex-basis: 50%;
        }

        @media screen and (max-width: 600px) {
            padding: 15px;
            flex-basis: 100%;
        }
    }
    
    &__card-img-wrapper {
        position: relative;
        margin-bottom: 30px;
        &::before {
            content: '';
            width: 100%;
            display: block;
            padding-top: 220/300 * 100%;
        }
    }
    
    &__card-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        z-index: 0;
    }
    
    &__card-date {
        position: absolute;
        bottom: 11px;
        left: 23px;
        padding: 5px 18px;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        background: #fc2704;
        opacity: 0.8;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
    
    &__card-title {
        color: #1b1b1b;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-decoration: underline;
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
    }
    
    &__card-desc {
        color: #1b1b1b;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        font-weight: 400;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
    &__more {
        color: #161616;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: center;
        margin-bottom: 48px;
        position: relative;
        &:hover {
            &::after {
                display: none;
            }
        }
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            bottom: 3px;
            left: 0;
            right: 0;
            background-color: #161616;
        }
        &-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    &__archive {
        color: #fc2704;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        padding: 13px 48px;
        border: 1px solid #fc2704;
        transition: .3s;
        &:hover {
            border: 1px solid transparent;
            color: #fff;
            background-color: #fc2704;
        }
        &-wrapper {
            display: flex;
            justify-content: center;
        }
    }
}
    