.location {
    padding-top: 48px;
    padding-bottom: 38px;
    &__container {
    }
    
    &__icon-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 37px;
    }
    
    &__icon {
    }
    
    &__title {
        color: #1c1c1c;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-bottom: 32px;
    }
    
    &__desc {
        color: #1c1c1c;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding: 0 70px;
        bold {
            font-weight: 700;
        }
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }
}
   
    