section.news
    .container.news__container
        h1.news__title.page-title НОВОСТИ
        .news__row
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news2.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news3.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news2.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news3.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news2.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход
            .news__card
                a.news__card-link(href="#")
                    .news__card-img-wrapper
                        img.news__card-img(src="/img/news3.jpg")
                        .news__card-date 20/03/2020
                    h3.news__card-title  Название или заголовок новости название
                .news__card-desc В трех минутах от метро с правой стороны розовое здание с зеленой крышей, основной вход

        .news__more-wrapper
            a.news__more(href="#") Ещё новости 
        .news__archive-wrapper
            a.news__archive(href="#") АРХИВ


