.new {
padding-top: 37px;
padding-bottom: 50px;
    &__container {
    }
    
    &__title {
        margin-bottom: 28px;
    }
    
    &__img-wrapper {
        position: relative;
        padding-top: (220/981 * 100%);
        margin-bottom: 30px;
    }
    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 220px;
    }
    
    &__date {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        background-color: #ff0000;
        padding: 7px 27px;
        display: inline-block;
        margin-bottom: 15px;
    }
    
    &__sub-title {
        color: #1d1d1d;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        margin-bottom: 8px;
    }
    
    &__desc {
        color: #1d1d1d;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &_bold {
            font-weight: 700;
        }
    }
    
    &__back-wrapper {
        display: flex;
        justify-content: center;
    }
    
    &__back {
        color: #ff0000;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 28px;
        padding: 11px 38px;
        border: 1px solid #ff0000;
        transition: .3s;
        
        &:hover {
            border: 1px solid transparent;
            color: #fff;
            background: #ff0000;
        }
    }

    &__placing {
        display: flex;
        align-items: stretch;
        &:not(:last-child) {
        margin-right: 21px;

        }
        &-wrapper {
            display: flex;
        justify-content: center;
        align-items: stretch;
        margin-bottom: 20px;

        }
        &-label {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-input {
            display: none;

            &:checked + .new__placing-view  {
            background-color: #ff0000;
            color: #fff;
                &+ .new__placing-icon {
                    filter: unset;
                }
            }
            &:checked + .new__placing-icon  {
                filter: unset;
                background: #ff0000;
            }
        }

        &-view {
            margin-bottom: 10px;
            align-self: flex-start;
            justify-self: flex-start;
            font-size: 17px;
            font-weight: 700;
            background-color: #f4f4f4;
            padding: 7px 14px;
            &_short {
                padding: 7px 22px;
            }
        }

        &-icon {
            margin: auto;
            filter: grayscale(1) brightness(1.4) invert(1);
        }
    }
}