.feedback {
padding-top: 59px;
padding-bottom: 71px;
background: url('../img/feedback.jpg');
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

@media screen and (max-width: 560px) {
    padding-top: 30px;
    padding-bottom: 30px;
}
&::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
}
    &__container {
        position: relative;
        z-index: 2;
    }
    
    &__title {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 28px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-bottom: 24px;
        text-transform: uppercase;
        @media screen and (max-width: 560px) {
           font-size: 18px;
        }
    }

    &__desc {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-bottom: 29px;
        @media screen and (max-width: 560px) {
            font-size: 14px;
         }
    }
    
    &__connection {
        display: flex;
        padding-left: 58px;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            padding-left: 0;
        }
    }
    
    &__tel-wrapper {
        display: flex;
        align-items: center;
        @media screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
    }
    
    &__tel-icon {
        margin-right: 20px;
    }
    
    &__tel {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 36px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        @media screen and (max-width: 560px) {
            font-size: 22px;
         }
    }
    
    &__message {
        padding: 15px 20px;
        margin-right: 100px;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: #ff0000;
        }
        @media screen and (max-width: 900px) {
            margin-right: 0;
        }
    }
    }
    .container {
    }
    .feedback-desc {
}
    