.hero {
height: 399px;
background-image: url('../img/picture.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
@media screen and (max-width: 660px) {
    height: 300px;
    padding-top: 60px;
    padding-bottom: 70px;
}
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0.2;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        color: #ffffff;
        font-family: 'Open Sans';
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__logo {
        margin-bottom: 14px;
        @media screen and (max-width: 660px) {
          max-width: 80%;
        }
    }
    
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 4px;
        @media screen and (max-width: 660px) {
            text-align: center;
           font-size: 18px;
        }

    }
    
    &__subtitle {
        font-size: 20px;
        font-weight: 400;
        @media screen and (max-width: 660px) {
            font-size: 14px;
         }
    }
    
}
    