section.new
    .container.new__container 
        .new__title.title-news НОВОСТИ
        .new__img-wrapper
            img.new__img(src="img/new.jpg")
        .new__date 20/03/2020
        .new__sub-title Конференц-залы: теперь в БЦ «Мосаларко Плаза»
        .new__desc.new__desc_bold Этой осенью мы запустили новый проект – Аренда конференц-залов. Теперь наши клиенты смогут не только арендовать офис, но и провести деловые переговоры в помещениях, оборудованных специальной техникой. 
        .new__desc На свой вкус и с учётом специфики ожидаемого мероприятия, Вы сможете арендовать нужный конференц-зал. Например, конференц-зал по типу «Класс» подойдёт для проведения тренинга или семинара. Тип «Конференция» позволит провести совещание, а «Театр» - идеально подойдёт для презентации.
        .new__placing-wrapper
            .new__placing
                label.new__placing-label
                    input.new__placing-input(type="radio" name='radio')
                    .new__placing-view Конференция
                    img.new__placing-icon(src="img/placing.png")
            .new__placing
                label.new__placing-label
                    input.new__placing-input(type="radio" name='radio')
                    .new__placing-view.new__placing-view_short Ряды
                    img.new__placing-icon(src="img/placing2.png")
            .new__placing
                label.new__placing-label
                    input.new__placing-input(type="radio" name='radio')
                    .new__placing-view.new__placing-view_short Класс
                    img.new__placing-icon(src="img/placing3.png")
            .new__placing
                label.new__placing-label
                    input.new__placing-input(type="radio" name='radio')
                    .new__placing-view.new__placing-view_short Буква П
                    img.new__placing-icon(src="img/placing4.png")
            .new__placing
                label.new__placing-label
                    input.new__placing-input(type="radio" name='radio')
                    .new__placing-view.new__placing-view_short Театр
                    img.new__placing-icon(src="img/placing5.png")
        .new__desc К Вашим услугам: проектор, микрофоны, Wi-FI, флипчарт и другое оборудование, без которого невозможно провести успешное деловое мероприятие.
        .new__desc На нашем сайте представлена подробная информация о каждом конференц-зале: площадь, фото, планировка, тип зала и вместимость. С ней Вы можете ознакомиться, перейдя на страницу «Конференц-залы» (сделать ссылку). 
        .new__desc Желаем удачи в поиске своего идеального места для проведения делового мероприятия!
        .new__back-wrapper
            a.new__back ОБРАТНО




