section.new
    .container.new__container 
        h1.new__title.title-news НОВОСТИ
        .new__img-wrapper
            img.new__img(src="img/new.jpg")
        .new__date 20/03/2020
        a.new__sub-title(href="#") Запустили сайт!!!
        .new__desc   Теперь нашим клиентам не нужно искать информацию о бизнес-центре «МОСАЛАРКО ПЛАЗА» на многочисленных порталах Интернета – всё представлено на официальном сайте.  Мы постарались упорядочить информацию, сделать её максимально полной и удобной для Вашего восприятия. 
        .new__desc В случае возникновения дополнительных вопросов, через форму обратной связи Вы можете оставить своё обращение (дать ссылку) или позвонить по номеру телефона: 8-495-956-13-15.
        .new__back-wrapper
            a.new__back(href="#") ОБРАТНО