section.exterior
    .container.exterior__container 
        .exterior__icon-wrapper
            img.exterior__icon(src="img/icon1.png")
        h2.exterior__title.section-title Презентабельный экстерьер
        .exterior__desc.section-desc Здание, расположенное по адресу ул. Марксистская, д. 16, отличается презентабельной входной группой, консервативным, и в то же время креативным внешним видом, который порадует глаз контрастным сочетанием цветов, наличием различных по форме окон (классических, эркерных, мансардных, сложной геометрической формы) и оригинальной крышей. 
        .exterior__link-wrapper
            a.exterior__link(href="") ФОТО
