section.info-business
    .container.info-business__container 
        .info-business__icon-wrapper
            img.info-business__icon(src="img/interier.png")
        h2.info-business__title.section-title Бизнес с комфортом
        .info-business__desc.section-desc На первом этаже располагается центральная служба ресепшн и пропускной пункт, на котором приветливо встречают всех приходящих сотрудников и гостей. В нужный офис можно подняться на лифте или по центральной лестнице. Есть наземная и подземная парковки.
        .info-business__row
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics2.png")
                .info-business__card-desc 2 пассажирских лифта. Лифты производства Honeywell
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics3.png")
                .info-business__card-desc Круглосуточная охрана и видеонаблюдение
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics4.png")
                .info-business__card-desc Качественная новая отделка <br/>
                    span Стены: гипсокартон, стеклянные перегородки. Полы: ковролин, ламинат, керамогранит. Потолок: Армстронг. Площади общего пользования: гранит, декоративные стеновые панели
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics5.png")
                .info-business__card-desc Надежная телефонная связь и высокоскоростной интернет <br/>
                    span В здании работают 4 провайдера: МТС, Билайн, Ростелеком, Авантел
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/characteristics6.png")
                .info-business__card-desc Собственная парковка <br/>
                    span Парковочный коэффициент: 1/100 Наземная парковка: 8 000 Р + НДС /мес. Подземная парковка: 20 000 Р + НДС /мес


