section.info
    .container.info__container
        .info__title О НАС
        .info__desc Акционерное общество «МОСАЛАРКО» было создано в 1995 году по инициативе Правительства Москвы и турецкой фирмы «АЛАРКО Холдинг А.Ш.» с целью реализации инвестиционных проектов. На настоящий момент основной деятельностью компании является сдача в аренду офисных помещений в находящемся в собственности здании класса В+. 
        .info__company-wrapper
            .info__company-goverment-wrapper
                img.info__company-government-icon(src="img/gerb.png")
                .info__company-government ПРАВИТЕЛЬСТВО <br/> МОСКВЫ
            .info__company-alarko-wrapper
                img.info__company-alarko-icon(src="img/logo-alarko.png")
