section.info-business
    .container.info-business__container 
        .info-business__icon-wrapper
            img.info-business__icon(src="img/interier.png")
        .info-business__title.section-title Бизнес с комфортом
        .info-business__desc.section-desc На первом этаже располагается центральная служба ресепшн и пропускной пункт, на котором приветливо встречают всех приходящих сотрудников и гостей. В нужный офис можно подняться на лифте или по центральной лестнице. Есть наземная и подземная парковки.
        .info-business__row
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .info-business__card
                .info-business__card-img-wrapper
                    img.info-business__card-img(src="/img/icon1.png")
                .info-business__card-desc Приточно-вытяжная система вентиляции и кондиционирования
