section.interier
    .container.exterior__container 
        .exterior__icon-wrapper
            img.exterior__icon(src="img/interier.png")
        .exterior__title Современные интерьеры
        .exterior__desc Мы предлагаем просторные и светлые офисы кабинетной планировки, с возможностью продумать индивидуальный интерьер и оснастить его всем необходимым для комфортного ведения бизнеса. Для новых арендаторов выполняется индивидуальный дизайн и ремонт.В некоторых помещениях возможна установка мини-кухонь. 
        .exterior__link-wrapper
            a.exterior__link(href="#") ФОТО 
