section.location
    .container.location__container 
        .location__icon-wrapper
            img.location__icon(src="img/icon1.png")
        .location__title.section-title Удобное расположение
        .location__desc Шаговая доступность от метро и удобный проезд к зданию дадут сотрудникам возможность тратить минимальное количество времени на дорогу в любимый офис.
        .location__desc 
            bold Вас порадует позитивная, спокойная, комфортная рабочая атмосфера в здании. Помните, что в офисе, в котором Вам нравится работать, Вы сможете быстро добиться высоких результатов!