extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.conf-top
		.container.conf-top-container
			h1.my-heading КОНФЕРЕНЦ-ЗАЛЫ
			.conf-top__text
				p В аренду предлагаются конференц-залы трансформеры с качественной отделкой площадью от 35 до 120 кв. м.
				p Возможно проведение мероприятий для групп с количеством участников до 100 человек. В зоне, предназначенной для проведения мероприятий, находятся собственная гардеробная, санузлы, ресепшн.
	section.section-conf-advantages
		.container.conf-advantages-container
			.conf-advantages
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/1.png", alt="")
					.conf-adv-item__text Для бизнес аудитории
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/2.png", alt="")
					.conf-adv-item__text Подходит для переговоров и&nbsp;презентаций
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/3.png", alt="")
					.conf-adv-item__text Мультимедийный проектор и Акустическая система
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/4.png", alt="")
					.conf-adv-item__text Кофе-брейки и обеды
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/5.png", alt="")
					.conf-adv-item__text Wi-Fi
				.conf-adv-item
					.conf-adv-item__pic-wrap
						img.conf-adv-item__img(src="img/conf-logo/6.png", alt="")
					.conf-adv-item__text Аренда от 4 часов
	section.capacity-section
		.container.container-capacity
			h2.my-heading ВМЕСТИМОСТЬ
			.conf-top__text
				p Выберите интересующую рассадку, и мы атоматически рассчитаем вместимость.
			.capacity-table
				.captab-head
					.captab-head__col.captab-col-1 Конференц-зал
					.captab-head__col.captab-col-2 Площадь
					.captab-head__col.captab-col-3 План
					.captab-head-controls.captab-col-4
						.captab-head-controller.captab-head-controller--active
						.captab-head-controller__name Конференция
							.captab-head-controller__pic
								img(src="img/placing.png", alt="")
						.captab-head-controller
							.captab-head-controller__name Ряды
							.captab-head-controller__pic
								img(src="img/placing2.png", alt="")
						.captab-head-controller
							.captab-head-controller__name Класс
							.captab-head-controller__pic
								img(src="img/placing3.png", alt="")
						.captab-head-controller
							.captab-head-controller__name Буква П
							.captab-head-controller__pic
								img(src="img/placing4.png", alt="")
						.captab-head-controller
							.captab-head-controller__name Театр
							.captab-head-controller__pic
								img(src="img/placing5.png", alt="")
				.captab-main
					.captab-row
						.captab-row__col.captab-col-1 1
						.captab-row__col.captab-col-2 32 кв. м
						.captab-row__col.captab-col-3
							a.captab-show-plane(href="")
								img(src="", alt="")
						.captab-right.captab-col-4
							.captab-right__col до 15 чел
							.captab-right__col
							.captab-right__col
							.captab-right__col
							.captab-right__col
