extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    include partials/cooperation/cooperation-hero
    include partials/cooperation/cooperation
    include partials/main/feedback