extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .container
        br
        <ul>
            <li><a href="main.html">ГЛАВНАЯ</a></li></li>
            <li><a href="conf-zal.html">КОНФЕРЕНЦ-ЗАЛЫ</a></li></li>
            <li><a href="contacts.html">КОНТАКТЫ</a></li></li>
            <li><a href="cooperation.html">ПАРТНЕРАМ</a></li></li>
            <li><a href="gallery-page.html">ГАЛЕРЕЯ</a></li></li>
            <li><a href="info.html">О НАС</a></li></li>
            <li><a href="new.html">НОВОСТЬ</a></li></li>
            <li><a href="news.html">НОВОСТИ</a></li></li>
            <li><a href="offices.html">ОФИСЫ</a></li></li>
        </ul>
