extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .container
        br
        <ul>
            <li><a href="build/main.html">ГЛАВНАЯ</a></li></li>
            <li><a href="build/conf-zal.html">КОНФЕРЕНЦ-ЗАЛЫ</a></li></li>
            <li><a href="build/contacts.html">КОНТАКТЫ</a></li></li>
            <li><a href="build/cooperation.html">ПАРТНЕРАМ</a></li></li>
            <li><a href="build/gallery-page.html">ГАЛЕРЕЯ</a></li></li>
            <li><a href="build/info.html">О НАС</a></li></li>
            <li><a href="build/new.html">НОВОСТЬ</a></li></li>
            <li><a href="build/news.html">НОВОСТИ</a></li></li>
            <li><a href="build/offices.html">ОФИСЫ</a></li></li>
        </ul>



