extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include partials/main/hero
	include partials/main/business-center
	include partials/main/place
	include partials/main/gallery

