extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    include partials/main/hero
    include partials/info/info
    include partials/info/exterior
    include partials/info/info-interier
    include partials/info/info-business
    include partials/info/location
    include partials/main/feedback



