extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.offices-section
		.container
			h1.offices-heading ОФИСЫ
			.free-offices
				.freeoff-tab-controls
					.freeoff-tab-controls__item.js-freeoff-controller 1 этаж
					.freeoff-tab-controls__item.js-freeoff-controller 2 этаж
					.freeoff-tab-controls__item.freeoff-controls__item--active.js-freeoff-controller 3 этаж
					.freeoff-tab-controls__item.js-freeoff-controller 4 этаж
					.freeoff-tab-controls__item.js-freeoff-controller 5 этаж
					.freeoff-tab-controls__item.js-freeoff-controller 6 этаж
					.freeoff-tab-controls__item.js-freeoff-controller 7 этаж
				.freeoff-tabs
					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-1.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 1 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-2.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 2 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-3.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 3 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-4.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 4 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-5.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 5 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-6.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 6 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

					.freeoff-tab
						.freeoff-tab__left
							img.freeoff-tab-pic(src="img/house/et-7.png", alt="")

						.freeoff-tab__right
							.freeoff-tab-title СВОБОДНЫЕ ОФИСЫ
								br
								|  НА 7 ЭТАЖЕ
							.freeoff-list
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 43 кв. м
									span.freeoff-list-item__more  Подробнее
								a.freeoff-list-item(href="")
									span.freeoff-list-item__size 132 кв. м
									span.freeoff-list-item__more  Подробнее

	include partials/main/feedback

