footer.site-footer
	.sf-top
		.container.sf-top__container
			.sf-row
				.sf-col
					.sf-col-name О НАС
					a.sf-menu-link(href="") О компании
					a.sf-menu-link(href="") Фотогалерея
					a.sf-menu-link(href="") Новости
					a.sf-menu-link(href="") Контакты
				.sf-col
					.sf-col-name АРЕНДАТОРАМ
					a.sf-menu-link(href="") Помещения
					a.sf-menu-link(href="") Конференц-залы
					a.sf-menu-link(href="") Условия сотрудничества
				.sf-col
					.sf-col-name ПАРТНЕРАМ
					a.sf-menu-link(href="") Условия сотрудничества

			.sf-row.sf-row--logo
				.sf-col.sf-col--logo
					a.footer-logo(href="")
						img(src="img/logo_header.png", alt="")
				.sf-col
					.sf-address Москва,
						br
						|  ул. Марксистская, 16
				.sf-col
					.sf-contacts
						a.sf-contacts__phone(href="") +7 (495) 956‑13-15
						a.sf-contacts__email(href="") info@mosalarko.ru
	.sf-bottom
		.container.sf-bottom__container
			.sf-row
				.sf-col
					a.sf-bottom-link(href="") Политика конфиденциальности
				.sf-col
					a.sf-bottom-link(href="") Использование материалов
				.sf-col.sf-col--copyright
					.sf-copyright © 2020 Мосаларко. Материалы сайта предназначены для лиц старше 18 лет.