footer.site-footer
	.sf-top
		.container.sf-top__container
			.sf-row
				.sf-col
					.sf-col-name О НАС
					a.sf-menu-link(href="") О компании
					a.sf-menu-link(href="") Фотогалерея
					a.sf-menu-link(href="") Новости
					a.sf-menu-link(href="") Контакты
				.sf-col
					.sf-col-name АРЕНДАТОРАМ
					a.sf-menu-link(href="") Помещения
					a.sf-menu-link(href="") Конференц-залы
					a.sf-menu-link(href="") Условия сотрудничества
				.sf-col
					.sf-col-name ПАРТНЕРАМ
					a.sf-menu-link(href="") Условия сотрудничества

			.sf-row.sf-row--logo
				.sf-col.sf-col--logo
					a.footer-logo(href="")
						img(src="img/logo_header.png", alt="")
				.sf-col
					.sf-address Москва,
						br
						|  ул. Марксистская, 16
				.sf-col
					.sf-contacts
						a.sf-contacts__phone(href="") +7 (495) 956‑13-15
						a.sf-contacts__email(href="") info@mosalarko.ru
	.sf-bottom
		.container.sf-bottom__container
			.sf-row
				.sf-col
					a.sf-bottom-link(href="") Политика конфиденциальности
				.sf-col
					a.sf-bottom-link(href="") Использование материалов
				.sf-col.sf-col--copyright
					.sf-copyright © 2020 Мосаларко. Материалы сайта предназначены для лиц старше 18 лет.

#modal-1.mail-modal(style="display:none;")
	.mail-modal-inner
		.mail-modal-icon
			img(src="img/mail-sentok.png", alt="icon")
		.mail-modal-text
			p
				b Ваше сообщение отправлено.
			p Благодарим Вас за обращение.
			p Наши специалисты свяжутся с Вами в ближайшее время.
#modal-2.mail-modal(style="display:none;")
	.mail-modal-inner.mail-modal-inner--2
		.mail-modal-icon
			img(src="img/mail-fail.png", alt="icon")
		.mail-modal-text
			p
				b Что-то пошло не так :(
			p К сожалению произошла ошибка, и&nbsp;Ваше сообщение не было отправлено.
			p Пожалуйста, проверьте информацию и попробуйте еще раз.

