header.site-header
	.sh-line-top
		.sh-logo
			img(src="img/logo_header.png", alt="")
		.sh-top-right
			a.sh-phone(href="tel:+74959561315")
				.sh-phone__icon
					img(src="img/mail_btn.png", alt="")
				.sh-phone__text +7 (495) 956‑13-15
			img(src="img/logo_header.png", alt="")
	.sh-line-bottom
	.sh-burger
		span

