section.hero(style="padding-top:54px;padding-bottom:56px;")
    .container.hero__container
        .hero__content
            img.hero__logo(src="img/logo.png")
            .hero__title БИЗНЕС-ЦЕНТР "МОСАЛАРКО ПЛАЗА"
            .hero__subtitle Офис, где хочется работать