section.cooperation
    .container.cooperation__container
        .cooperation__work
            .cooperation__broker-wrapper
                img.cooperation__broker-icon(src="img/icon1.png")
                .cooperation__broker-text Работаем с брокерами
            .cooperation__plan-wrapper
                img.cooperation__plan-icon(src="img/icon1.png")
                .cooperation__plan-text Подготовим план помещения с расстановкой мебели 
                    bold за 2 дня
        .cooperation__title ЭТАПЫ ФОРМИРОВАНИЯ СДЕЛКИ
        .cooperation__stage-wrapper
            .cooperation__stage 
                .cooperation__stage-group
                    .cooperation__stage-icon 1
                    .cooperation__stage-text Коммерческое предложение, подготовка плана помещения с расстановкой мебели 
                .cooperation__stage-time 1 неделя*
            .cooperation__stage 
                .cooperation__stage-group
                    .cooperation__stage-icon 2
                    .cooperation__stage-text Согласование договора аренды/Согласование планировки помещения с расстановкой мебели, материалов, плана электрики
                .cooperation__stage-time 1-2 недели*
            .cooperation__stage 
                .cooperation__stage-group
                    .cooperation__stage-icon 3
                    .cooperation__stage-text Подписание договора аренды, внесение депозита 
                .cooperation__stage-time 1 неделя*
            .cooperation__stage 
                .cooperation__stage-group
                    .cooperation__stage-icon 4
                    .cooperation__stage-text Подготовка помещения к заезду
                .cooperation__stage-time 2-8 недель*<br/>с даты внесения депозита<br/>(в зависимости от объема работ)
