section.hero(style="padding-top:54px;padding-bottom:56px;")
    .container.hero__container
        .hero__content
            img.hero__logo(src="img/logo.png")
            h1.hero__title БИЗНЕС-ЦЕНТР "МОСАЛАРКО ПЛАЗА"
            h5.hero__subtitle Офис, где хочется работать