.offices-section {
	padding-top: 38px;
	padding-bottom: 71px;
}

.offices-container {
	width: 971px;
}

.offices-heading {
	color: #1f1f1f;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}

.free-offices {}

.freeoff-tab-controls {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;

	&__item {
		background-color: #F4F4F4;
		transition-duration: .2s;
		padding: 14px 25px;
		color: #1d1d1d;
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		cursor: pointer;

		&:hover,&--active {
			background-color: #FF0000;
			color: #ffffff;
		}


	}
}

.freeoff-tabs {}

.freeoff-tab {
	display: none;
	justify-content: space-between;

	&__left {
		padding-top: 10px;
		margin-left: -7px;
		width: 649px;
	}

	&__right {
		padding-top: 67px;
		width: 296px;
	}

	&--active {

		display: flex;
	}
}

.freeoff-tab-pic {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.freeoff-tab-title {
	color: #1f1f1f;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 24px;

	br {}
}

.freeoff-list {
	margin-top: 22px;
}

.freeoff-list-item {
	display: block;
	color: #1f1f1f;
	font-size: 20px;
	font-style: normal;
	letter-spacing: normal;
	transition-duration: .2s;
	padding-left: 28px;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		background-color: red;
		position: absolute;
		left: 2px;
		top: 10px;
		border-radius: 50%;
	}

	&__size {
		font-weight: 700;
	}

	&__more {
		font-weight: 400;
		text-decoration: underline;
		padding-left: 10px;
	}

	&:hover {
		color: #ff0000;
	}

	&:active {}

	&:focus {}

	&+.freeoff-list-item {
		margin-top: 28px;
	}
}