section.connection
    .container.connection__container
        .connection__row
            .connection__card
                img.connection__icon(src="img/connection1.png")
                .connection__decs ул. Марксистская, д. 16
            .connection__card
                img.connection__icon(src="img/connection2.png") 
                .connection__decs +7(495) 956-13-15
            .connection__card
                img.connection__icon(src="img/connection3.png")
                .connection__decs info@mosalarko.ru