section.hero(style="background-image:url('../img/contacts-hero.jpg')")
    .container.hero__container
        .hero__content
            img.hero__logo(src="img/logo.png")
            h1.hero__title БИЗНЕС-ЦЕНТР "МОСАЛАРКО ПЛАЗА"
            .hero__subtitle Офис, где хочется работать