section.message
    .container.message__container
        .message__title Вы можете написать письмо или записаться на просмотр
        .message__form
            label.message__form-label
                .message__form-name Ваше Имя *
                input.message__form-input
            label.message__form-label
                .message__form-tel Телефон*
                input.message__form-input
            label.message__form-label
                .message__form-mail E-mail*
                input.message__form-input
            label.message__form-label
                .message__form-message Сообщение
                textarea.message__form-textarea
            .message__form-button-wrapper
                .message__form-button-text Не все поля заполнены или заполнены некорректно.<br/>Пожалуйста, проверьте информацию
                button.message__form-button ОТПРАВИТЬ
        .message__line
        .message__info Поля, отмеченные знаком * - обязательны для заполнения Выберите удобный для Вас способ связи, чтобы мы могли оперативно связаться с Вами




