section.way
    .container.way__container
        .way__subtitle Как до нас добраться? 
        .way__desc Из метро Марксистская один выход, после стеклянных дверей прямо. <br/> Бизнес-центр "Мосаларко Плаза" расположен в трёх минутах ходьбы от метро (с правой стороны). Основной вход в здание - под большим козырьком.
        .way__icon-wrapper
            img.way__icon(src="img/icon4.png")
        .way__subtitle Ближайшая инфраструктура
        .way__desc В самом бизнес-центре расположено кафе “Prime“, в непосредственной близости находятся аптеки, банки, множество кафе и ресторанов.