section.business-center
    .container.business-center__container
        .business-center__content
            .business-center__row
                .business-center__card
                    .business-center__card-icon
                    .business-center__card-title Современные интерьеры
        .business-center__title БИЗНЕС-ЦЕНТР "МОСАЛАРКО ПЛАЗА"
        .business-center__desc Современное офисное здание с мансардным этажом и двумя уровнями подземной парковки. Построено известным и опытным девелопером. Общая площадь – 8500 кв. м. Расположено в непосредственной близости от Садового кольца и станций метро Марксистская, Таганская. 
        a.business-center__link О КОМПАНИИ