section.characteristics
    .container.characteristics__container
        h2.characteristics__title ХАРАКТЕРИСТИКИ
        .characteristics__row
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics1.png")
                .characteristics__card-desc Приточно-вытяжная система вентиляции и кондиционирования
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics2.png")
                .characteristics__card-desc 2 пассажирских лифта Лифты производства Honeywell
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics3.png")
                .characteristics__card-desc Круглосуточная охрана и видеонаблюдение
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics4.png")
                .characteristics__card-desc Качественная новая отделка
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics5.png")
                .characteristics__card-desc Надежная телефонная связь и высокоскоростной интернет
            .characteristics__card
                .characteristics__card-icon-wrapper
                    img.characteristics__card-icon(src="img/characteristics6.png")
                .characteristics__card-desc Собственная парковка