section.feedback
    .container.feedback__container
        .feedback__title БЫСТРАЯ ЗАЯВКА 
        .feedback__desc Вы можете задать Ваши вопросы и договориться о просмотре объекта удобным для Вас способом
        .feedback__connection
            a.feedback__tel-wrapper
                img.feedback__tel-icon(src="img/phone-feedback.png")
                .feedback__tel +7 (495) 956 13 15
            .feedback__message ОСТАВИТЬ СООБЩЕНИЕ
