section.gallery-page
	.container.gallery-page__container
		.gallery-page__icon-wrapper
			img.gallery-page___icon(src="img/icon1.png")
		h2.gallery-page__title.section-title ЭКСТЕРЬЕР И ТЕРРИТОРИЯ
		#gallery-page__row.gallery-page__row
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				img.gallery-page__img(src="img/gallery-page1.jpg")
		.gallery-page__link-wrapper
			a.gallery-page__link.js-gallery-more(href="") ЕЩЕ

		script.
			var more_pics_target='#gallery-page__row';
			var more_pics_offset=0;
			var more_pics=['images/min/1.jpg', 'images/min/2.jpg', 'images/min/3.jpg', 'images/min/4.jpg', 'images/min/5.jpg', 'images/min/6.jpg', 'images/min/7.jpg', 'images/min/8.jpg', 'images/min/9.jpg', 'images/min/10.jpg', 'images/min/11.jpg', 'images/min/12.jpg', 'images/min/13.jpg', 'images/min/14.jpg', 'images/min/15.jpg', 'images/min/16.jpg', 'images/min/17.jpg', 'images/min/18.jpg', 'images/min/19.jpg', 'images/min/20.jpg', 'images/min/21.jpg', 'images/min/22.jpg', 'images/min/23.jpg', 'images/min/24.jpg', 'images/min/25.jpg', 'images/min/26.jpg', 'images/min/27.jpg', 'images/min/28.jpg', 'images/min/29.jpg', 'images/min/30.jpg', 'images/min/31.jpg', 'images/min/32.jpg', 'images/min/33.jpg', 'images/min/34.jpg', 'images/min/35.jpg', 'images/min/36.jpg', 'images/min/37.jpg', 'images/min/38.jpg', 'images/min/39.jpg', 'images/min/40.jpg', 'images/min/41.jpg', 'images/min/42.jpg', 'images/min/43.jpg', 'images/min/44.jpg', 'images/min/45.jpg', 'images/min/46.jpg', 'images/min/47.jpg', 'images/min/48.jpg', 'images/min/49.jpg', 'images/min/50.jpg'];
			//В этот массив класть картинки меньшего размера для вывода их на страницу
			var more_pics_thumbnails=['images/min/small/1.jpg', 'images/min/small/2.jpg', 'images/min/small/3.jpg', 'images/min/small/4.jpg', 'images/min/small/5.jpg', 'images/min/small/6.jpg', 'images/min/small/7.jpg', 'images/min/small/8.jpg', 'images/min/small/9.jpg', 'images/min/small/10.jpg', 'images/min/small/11.jpg', 'images/min/small/12.jpg', 'images/min/small/13.jpg', 'images/min/small/14.jpg', 'images/min/small/15.jpg', 'images/min/small/16.jpg', 'images/min/small/17.jpg', 'images/min/small/18.jpg', 'images/min/small/19.jpg', 'images/min/small/20.jpg', 'images/min/small/21.jpg', 'images/min/small/22.jpg', 'images/min/small/23.jpg', 'images/min/small/24.jpg', 'images/min/small/25.jpg', 'images/min/small/26.jpg', 'images/min/small/27.jpg', 'images/min/small/28.jpg', 'images/min/small/29.jpg', 'images/min/small/30.jpg', 'images/min/small/31.jpg', 'images/min/small/32.jpg', 'images/min/small/33.jpg', 'images/min/small/34.jpg', 'images/min/small/35.jpg', 'images/min/small/36.jpg', 'images/min/small/37.jpg', 'images/min/small/38.jpg', 'images/min/small/39.jpg', 'images/min/small/40.jpg', 'images/min/small/41.jpg', 'images/min/small/42.jpg', 'images/min/small/43.jpg', 'images/min/small/44.jpg', 'images/min/small/45.jpg', 'images/min/small/46.jpg', 'images/min/small/47.jpg', 'images/min/small/48.jpg', 'images/min/small/49.jpg', 'images/min/small/50.jpg'];
			var more_pics_captions=['Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская'];
			var more_pics_alts=['Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская', 'Мосаларко Плаза вид с ул. Марксистская'];
		.gallery-page__type-wrapper
			a.gallery-page__type-interier(href="#")
				img.gallery-page__type-interier-icon(src="img/interier.png")
				.gallery-page__type-text-wrapper
					.gallery-page__type-desc Интерьеры офисов и помещений
					.gallery-page__type-quantity / 20 фото /
			a.gallery-page__type-event(href="#")
				img.gallery-page__type-event-icon(src="img/event.png")
				.gallery-page__type-text-wrapper
					.gallery-page__type-desc Люди
						br
						|  и события
					.gallery-page__type-quantity / 20 фото /


