section.gallery-page
	.container.gallery-page__container
		.gallery-page__icon-wrapper
			img.gallery-page___icon(src="img/icon1.png")
		h2.gallery-page__title.section-title ЭКСТЕРЬЕР И ТЕРРИТОРИЯ
		.gallery-page__row
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page1.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page2.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page3.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page4.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page5.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page6.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image1")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page7.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image2")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page8.jpg)")
			a.gallery-page__link-img.photo-gallery(href="img/news.jpg"  data-fancybox="images" data-caption="image3")
				.gallery-page__link-desc Мосаларко Плаза вид с ул. Марксистская
				.gallery-page__img(style="background-image:url(img/gallery-page9.jpg)")
		.gallery-page__link-wrapper
			a.gallery-page__link(href="") ЕЩЕ
		.gallery-page__type-wrapper
			a.gallery-page__type-interier
				img.gallery-page__type-interier-icon(src="img/interier.png")
				.gallery-page__type-text-wrapper
					.gallery-page__type-desc Интерьеры офисов и помещений
					.gallery-page__type-quantity / 20 фото /
			a.gallery-page__type-event
				img.gallery-page__type-event-icon(src="img/event.png")
				.gallery-page__type-text-wrapper
					.gallery-page__type-desc Люди
						br
						|  и события
					.gallery-page__type-quantity / 20 фото /


