section.gallery
    .container.gallery__container
        a.gallery__link ФОТОГАЛЕРЕЯ
        .gallery__row
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery1.jpg")
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery2.jpg")
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery3.jpg")
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery1.jpg")
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery2.jpg")
            .gallery__img-wrapper
                img.gallery__img(src="img/gallery3.jpg")

