section.place
    .container.place__container
        h2.place__title СВОБОДНЫЕ ПЛОЩАДИ
        .place__row
            .place__card
                .place__card-floor 4 этаж
                .place__card-size 220 кв. м
                .place__card-price 35 000 Р
            .place__card
                .place__card-floor 7 этаж
                .place__card-size 43 кв. м
                .place__card-price 30 000 Р
            .place__card
                .place__card-floor 6 этаж
                .place__card-size 110 кв. м
                .place__card-price 32 000 Р
        .place__link-wrapper
            a.place__link(href="") ВСЕ СВОБОДНЫЕ ПЛОЩАДИ