section.place
    .container.place__container
        .place__title СВОБОДНЫЕ ПЛОЩАДИ
        .place__row
            .place__card
                .place__card-floor 4 этаж
                .place__card-size 220 кв. м
                .place__card-price 35 000 Р
            .place__card
                .place__card-floor 4 этаж
                .place__card-size 220 кв. м
                .place__card-price 35 000 Р
            .place__card
                .place__card-floor 4 этаж
                .place__card-size 220 кв. м
                .place__card-price 35 000 Р
        .place__link-wrapper
            a.place__link(href="") ВСЕ СВОБОДНЫЕ ПЛОЩАДИ